<wm-page data-ng-controller="TestPageController" pagetitle="Test" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-table name="staticVariable1Table1" title="" dataset="bind:Variables.staticVariable1.dataSet" navigation="Basic">
                <wm-table-column binding="dataValue" caption="Data Value" pcdisplay="true" mobiledisplay="true"></wm-table-column>
            </wm-table>
            <wm-prefab prefabname="LinkedInOAuth" name="LinkedInOAuth1"></wm-prefab>
            <wm-prefab prefabname="InstagramOAuth" name="InstagramOAuth1"></wm-prefab>
            <wm-prefab prefabname="GoogleOAuth" name="GoogleOAuth1"></wm-prefab>
            <wm-prefab prefabname="FacebookOAuth" name="FacebookOAuth1"></wm-prefab>
            <wm-prefab prefabname="BoxOAuth" name="BoxOAuth1"></wm-prefab>
            <wm-prefab prefabname="Test_Prefab_dev" name="Test_Prefab_dev3"></wm-prefab>
        </wm-page-content>
    </wm-content>
</wm-page>